*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}


.container{
    display: flex;
    
}
.container-left{
    width: 15%;
    display: flex;
    flex-direction: column;
    
    background:#6b757d;
    height:auto;
    position: relative;
    /* text-align: center; */
    color: white;
}
.container-left>h1{
    margin:10px 50px;
    color: #333a3f;
    font-size: 40px;
}
.container-left a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}
.crud-list>div>div:hover{
display: block;
background-color: black;
margin-bottom: 20px;
}
.crud-list>div>div{
    padding-left: 30px;
}
.container-right{
    width: 85%;

}
.crud-list{
    line-height: 300%;
    display: grid;
   grid-template-columns: repeat(1,1fr);
    padding-top: 20px;
}
.log-out{
    position: absolute;
    bottom: 30px;
    right: 30px;
    left:40px


}


.container-top{
    display: flex;
   justify-content: space-between;
   padding: 10px 30px;
}
.container-top-left{
font-size: 25px;
font-weight: 20px;
}
.container-top-right{
    display: flex;
    max-width:15%;
    background-color:#6b757d;
    padding:5px 7px;
    border-radius: 7px;
}
.container-top-right>h4{
    color:white
}
.container-top-right img{
    border-radius: 20%;
}
.container-mid{
    /* height:560px; */
    height:auto;
    padding:30px;
    background-color: #333a3f;
 }
 .container-mid-top{
    display: flex;
    justify-content: space-evenly;
 }
 .container-mid-top>div{
    background-color: white;
    max-width: 20%;
    text-align: center;
    padding:50px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 .container-mid-bottom{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     max-width: 80%;
     padding:35px;
     background-color: white;
     border-radius: 7px;
     margin: 50px 0px 0px 100px;
     text-align: center;
     line-height: 200%;
}
.container-mid-bottom img{
    border-radius: 10%;
    width:13%
}

/* width */
::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: gold; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: green; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }



  


